defaults {
user_friendly_names yes
}

blacklist {
}

multipaths {
        multipath {
                wwid 36589cfc0000008c9f9466ec7c367d260
                alias DBH01
        }
        multipath {
                wwid 36589cfc0000007c40b0bf51d271362c0
                alias DBF01
        }

}


